body {
    margin: 0px;
    padding: 0px;

}

header {
    background-color: #4caf50;
}

nav {
    display: flex;
    flex-direction: column;
    background-color: #333;
}
nav a {
    color: white;
    text-align: center;
    text-decoration: none;
}

.content {
    display: flex;
    flex-direction: column;
}


@media (min-width: 1024px) {
    header {
        background-color: chocolate;
    }
    content {
        text-align: center;
    }
}

@media (max-width: 1024px) {
    flex-direction: row;
}

@media (min-width: 425px) {
    .content {
        text-align: center;
    }
}